/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .name h1 {
    font-size: 2.5em;
}

nav a {
    color: #fff;
    margin: 0 20px;
    font-size: 1.2em;
    text-decoration: none;
    position: relative;
    transition: 0.3s ease;
}

nav a:hover {
    color: #f8b400;
}

nav a::after {
    content: "";
   
