/* General reset for padding, margin and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and background */
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Jet black */
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Header style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
}

header .name h1 {
    color: #fff;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px
